.footer {

    padding-bottom: 2%;
}

.footer__left-col {
    max-width: 400px;
    width: 38.84%;
    float: left;

    @media (max-width: $tablet) {
        max-width: none;
        width: 100%;
        float: none;
        text-align: center;
        margin: 1% auto 7.5%;
    }

    @media (max-width: $moblrg) {
        margin: 1% auto 10%;
    }
}

.footer__right-col {

    width: 61.16%;
    float: left;

    @media (max-width: $tablet) {
        width: 100%;
        float: none;
        max-width: 620px;
        margin: 0 auto;
    }
}

.footer__signup-btn {
    margin-bottom: 3%;

    @media (max-width: $tablet) {
        margin: 0 auto;
        display: block;
        max-width: 214px;
    }
}

.footer__list {

    width: 25%;
    float: left;

    &:nth-child(2) {
        padding-left: 3%;
    }

    &:nth-child(3) {
        padding-left: 3%;
    }

    &:last-child {
        margin-right: 0;
    }

    li {
        color: $blumine;
        line-height: 1;
        margin-bottom: 20px;

        h5 {
            color: $blumine;
            margin-bottom: 0;
            text-transform: uppercase;
            font-weight: 600;
        }

        a {
            color: $blumine;
        }
    }

    .footer__plus,
    .footer__minus {
        display: none;
    }

    @media (max-width: $moblrg) {
        width: 100%;
        max-width: 314px;
        margin: 0 auto;
        text-align: left;
        float: none;
        height: auto;
        overflow: hidden;
        border-bottom: 1px solid $blumine;
        position: relative;
        transition: height .3s $gazcurve;

        .footer__minus,
        .footer__plus {
            position: absolute;
            top: 11px;
            right: 0;
            font-size: 26px;
        }

        &.-closed {
            height: 52px;

            .footer__minus {
                display: none;
            }

            .footer__plus {
                display: block;
            }
        }

        .footer__minus {
            display: block;
            right: 2px;
        }

        .footer__plus {
            display: none;
        }

        &:nth-child(2),
        &:nth-child(3),
        &:last-child {
            margin-left: auto;
            margin-right: auto;
            padding-left: 0;
            margin: 0 auto;
        }

        &:last-child {
            width: 100%;
            margin-bottom: 1.5rem;
        }

        li {
            padding-top: 5%;
            padding-bottom: 5%;
            margin-bottom: 10px;

            &:first-child {
                cursor: pointer;
            }

            // Disable js event firing on click inside accordion toggle
            &.js-footer-accordion-toggle {
                * {
                    pointer-events: none;
                }
            }
        }
    }
}

.footer__social {
    margin-bottom: 10.4%;

    @media (max-width: $tablet) {
        max-width: 170px;
        display: inline-block;
        margin: 0 auto 4%;
    }
}

.footer__social-item {
    display: inline-block;
    width: 35px;
    height: 35px;
    padding-top: 10px;
    border-radius: 50%;
    margin-right: 5px;

    img {
        width: 15px;
        height: 15px;
        margin: 0 auto;
    }

    &--facebook {
        background-color: #0b488a;
    }

    &--twitter {
        background-color: #11a1cf;
    }

    &--instagram {
        background:
        // Katy Decorah: http://codepen.io/katydecorah/pen/PNLePj
        // left bottom
        radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
        radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
        // left top
        radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
        radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
        //  right top
        radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
        radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
        // right bottom
        radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
        // corner gradients
        linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    }

    &--youtube {
        background-color: #f70237;
    }
}

.footer-hr {
    clear: left;
    position: relative;
    z-index: 1;
    border: 0;
    background-color: #e6eaef;
    height: 2px;
    width: 100%;
}

.footnote-container {
    padding-top: 1.7%;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;

    p,
    a {
        color: $blumine;
    }

    p {
        font-size: rem(14px);
        margin-bottom: 0;

        &:first-child {
            float: right;
        }
    }
}