.testimonials {


    position: relative;
    z-index: 2;

    @media (max-width: $tablet) {
        background-color: #05597d;
    }

    @media (max-width: $moblrg) {
        background-color: transparent;
        box-shadow: none;
    }
}

.testimonials__item {
    width: 33.33%;
    height: 336px;
    padding: 5.6% 3.6%;
    float: left;
    transition: transform .3s ease-in-out;
    color: #fff;

    &--no-logo {
        padding-top: 7.7%;
    }

    &--twitter {
        padding: 4.2%;
    }

    p,
    h3,
    h4,
    .btn--ghost {
        color: inherit;
    }

    &:nth-child(1),
    &:nth-child(7), {
        background-color: $nileblue;
    }

    &--wide {
        background-color: #fff;
        width: 66.66%;
        color: #012130;
    }

    &:nth-child(3) {
        background-color: $blumine;

        p {
            color: #a4bed9;
        }
    }

    &:nth-child(4) {
        background-color: $shamrock;
    }

    &:nth-child(5) {
        background-color: $pacificblue;
    }

    .btn--ghost {
        font-size: rem(12px);
        text-transform: uppercase;
        float: right;
        min-width: 154px;
        margin-top: 8%;

        &:hover {
            top: auto;
            box-shadow: 0px 19px 53px -1px rgba(0, 0, 0, .27);
            background-color: transparent;
        }
    }

    .btn__play {
        img {
            top: -12px;
            width: 38px;
        }
    }

    .site-section--testimonials & {
        width: 50%;

        &:nth-child(1) {
            background-color: #fff;
            color: #012130;
        }

        &:nth-child(2),
        &:nth-child(3) {
            background-color: $pacificblue;
            color: #fff;

            p {
                color: #fff;
            }
        }

        &:nth-child(4) {
            background-color: $nileblue;
        }
    }

    // &:hover {
    //     transform: scale(1.05);
    //     transform-origin: center;

    //     @media (max-width: $tablet) {
    //         transform: none;
    //     }
    // }

    @media (max-width: $laptop) {
        height: 278px;
        padding: 3%;

        &--no-logo {
            padding-top: 3%;
        }

        &--twitter {
            padding: 1.7% 3%;
        }
    }

    @media (max-width: $tablet) {
        width: 50%;

        &--wide {
            width: 50%;

            .split__item {
                width: 100%;
            }

            .split__item:last-child {
                display: none;
            }
        }
    }

    @media (max-width: $moblrg) {

        width: 100%;
        max-width: 440px;
        height: auto;
        padding: 8%;
        margin: 0 auto 1%;
        float: none;

        &--no-logo,
        &--twitter {
            padding: 8%;
        }

        &--wide {
            width: 100%;
            background-color: $concrete;
        }

        .btn--ghost {
            position: static;
        }

        .site-section--testimonials & {
            width: 100%;
        }
    }
}

.testimonials__logo {
    float: left;
    margin-right: 5%;
    margin-bottom: 1.5rem;

    &--twitter {
        float: right;
    }
}

.testimonials__heading {
    font-size: rem(27px);
    line-height: 1.1;
    margin-bottom: 0;

    .testimonials__logo ~ & {
        padding-top: 4%;
    }

    &--twitter {
        font-size: rem(16px);
    }

    @media (max-width: $moblrg) {
        font-size: rem(24px);
    }
}

.testimonials__sub-heading {
    font-weight: 400;
}

.testimonials__paragraph {
    font-size: rem(18px);
    clear: left;
    margin-bottom: 0;
    line-height: 1.4;

    &--twitter {
        clear: right;
        margin-bottom: 10%;
    }
}
