/*doc
---
title: Headings
name: headings
category: Headings
---

## Here is a heading about headings

Button styles can be applied to any element. Typically you'll want to use either a `<button>` or an `<a>` element:

```
<h1 class="-alpha">Page title</h1>
<h2 class="-beta">A h2 Subtitle</h2>
<h3 class="-beta">A h3 Subtitle at the same size</h3>
<h4 class="-gamma">A h4 Subtitle at a larger size size</h3>
<p class="-beta">A paragraph could pick up these styles too</p>
```

You'll notice that even though the h2 and h3 are different in the hierarchy, they still appear the same as -beta defines its size, not the element itself.

The reason we have &.bold utility classes commented out is because sometimes custom fonts have different weights (e.g. bold, semibold) that our designers use for emphasis.
.bold has been added to hybrid in /patterns/_helpers.scss as font-weight: bold; but that can be overridden using these classes.

*/

.alpha {
  font-family: 'Arial';
  font-size: rem(46px);
  font-weight: 400;
  line-height: 1.2;
  /* &.bold {
		font-weight: 600;
	} */
}

@media (max-width: 1400px) {
  .alpha {
    font-size: rem(32px);
  }
}

@media (max-width: 680px) {
  .alpha {
    font-size: rem(24px);
  }
}

.beta {
  font-family: 'Arial';
  font-size: rem(36px);
  font-weight: 400;
  line-height: 1.2;
  /* &.bold {
		font-weight: 600;
	} */
}

@media (max-width: 1400px) {
  .beta {
    font-size: rem(24px);
  }
}

.gamma {
  font-family: 'Arial';
  font-size: rem(24px);
  font-weight: 400;
  line-height: 1.2;
  /* &.bold {
		font-weight: 600;
	} */
}

@media (max-width: 1400px) {
  .gamma {
    font-size: rem(18px);
  }
}

.delta {
  font-family: 'Arial';
  font-size: rem(20px);
  font-weight: 400;
  line-height: 1.2;
  /* &.bold {
		font-weight: 600;
	} */
}

.epsilon {
  font-family: 'Arial';
  font-size: rem(17px);
  font-weight: 400;
  line-height: 1.2;
  /* &.bold {
		font-weight: 600;
	} */
}

.zeta {
  font-family: 'Arial';
  font-size: rem(16px);
  font-weight: 400;
  line-height: 1.2;
  /* &.bold {
		font-weight: 600;
	} */
}

/**
 * Helper styles
 * e.g. .centered { margin-right: auto; margin-left: auto; }
 */

.hide {
  display: none;
}

.tc {
  text-align: center;
}

.bld,
b,
strong {
  font-weight: 600;
}

.uln {
  text-decoration: underline;
}

.drop-shadow {
  -webkit-box-shadow: 0px 26px 53px -4px rgba(0, 0, 0, 0.27);
          box-shadow: 0px 26px 53px -4px rgba(0, 0, 0, 0.27);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.img--full > img.not-mob,
.not-mob {
  display: block;
}

.img--full > img.not-mob.not-mob--ib,
.not-mob.not-mob--ib {
  display: inline-block;
}

@media (max-width: 680px) {
  .img--full > img.not-mob.not-mob--ib,
  .not-mob.not-mob--ib {
    display: none;
  }
}

@media (max-width: 680px) {
  .img--full > img.not-mob,
  .not-mob {
    display: none;
  }
}

.img--full > img.mob-only,
.mob-only {
  display: none;
}

@media (max-width: 680px) {
  .img--full > img.mob-only,
  .mob-only {
    display: block;
  }
}

.not-tablet {
  display: block;
}

@media (max-width: 1040px) {
  .not-tablet {
    display: none;
  }
}

@media (max-width: 680px) {
  .img--full.grow-mob {
    width: 18%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0;
  }
}

.swap-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media (max-width: 680px) {
  .swap-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 680px) {
  .left-mobile {
    text-align: left !important;
  }

  .left-mobile.central-paragraph {
    padding-bottom: 25px;
  }
}

@media (max-width: 680px) {
  .center-mobile {
    text-align: center !important;
  }
}

.clean-list {
  list-style: none;
}

.cf::after {
  content: '';
  display: table;
  clear: both;
}

.bump-bottom {
  margin-bottom: 5vh;
}

