.info__text--centre-tablet-up {
  text-align: center;
  padding-top: 40px;
}

.info__text--centre-tablet-up i {
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 680px) {
  .info__text--centre-tablet-up i {
    margin-right: 0;
    margin-left: 0;
  }
}

.info__text--centre-tablet-up p {
  max-width: 702px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1040px) {
  .info__text--centre-tablet-up p {
    max-width: 540px;
  }
}

@media (max-width: 680px) {
  .info__text--centre-tablet-up p {
    max-width: none;
    margin-right: 0;
    margin-left: 0;
  }
}

.info__text--centre-tablet-up .info__custom-bullet {
  max-width: 290px;
  text-align: left;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 680px) {
  .info__text--centre-tablet-up .info__custom-bullet {
    max-width: none;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 680px) {
  .info__text--centre-tablet-up {
    text-align: left;
  }
}

@media (max-width: 455px) {
  .info__text--centre-tablet-up {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.info__text ul {
  margin-left: 20px;
}

.split__text--right .info__text ul {
  margin-left: 27px;
}

.info__text li {
  list-style: none;
  margin-left: 0;
  margin-bottom: 1.5rem;
  line-height: 1.7;
  max-width: 370px;
  font-size: rem(18px);
}

.site-section--1-4 .info__text li {
  padding: 20px;
  padding-left: 40px;
  margin-left: -20px;
  max-width: 440px;
  -webkit-transition: background-color .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
  transition: background-color .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out, background-color .3s ease-in-out;
  transition: box-shadow .3s ease-in-out, background-color .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
}

.site-section--1-4 .info__text li:hover {
  background-color: #fff;
  -webkit-box-shadow: 0px 19px 53px -4px rgba(0, 0, 0, 0.27);
          box-shadow: 0px 19px 53px -4px rgba(0, 0, 0, 0.27);
}

.site-section--1-4 .info__text li:hover .info__slide {
  -webkit-transform: translateX(calc(100% - 132px));
          transform: translateX(calc(100% - 132px));
}

.site-section--1-4 .info__text li::before {
  content: '';
}

.info__text i {
  display: block;
}

@media (max-width: 1400px) {
  .info__text li {
    font-size: rem(16px);
    margin-bottom: 1rem;
  }

  .site-section--1-4 .info__text li {
    padding: 10px;
    padding-left: 26px;
  }
}

@media (max-width: 680px) {
  .info__text {
    max-width: 400px;
    margin: 0 auto;
  }
}

@media (max-width: 455px) {
  .info__text--centre-tablet-up {
    max-width: none;
  }
}

.info__product-icon {
  display: block;
  margin-bottom: 15px;
}

.info__product-icon--portrait {
  width: auto;
  height: 86px;
}

.info__product-icon--portrait img {
  height: 100%;
}

@media (max-width: 1040px) {
  .info__product-icon--portrait {
    height: 60px;
  }
}

.info__product-icon--landscape {
  width: 86px;
  height: auto;
  margin-top: 15px;
}

.info__product-icon--landscape img {
  width: 100%;
}

@media (max-width: 1040px) {
  .info__product-icon--landscape {
    width: 60px;
  }
}

.info__custom-bullet {
  list-style: none;
}

.info__custom-bullet li {
  text-indent: rem(-20px);
}

.info__custom-bullet li::before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  margin-right: 2.9%;
  border-radius: 100%;
  background-color: #02212f;
  vertical-align: middle;
}

@media (max-width: 1040px) {
  .info__custom-bullet li {
    text-indent: rem(-12.5px);
  }
}

@media (max-width: 680px) {
  .info__custom-bullet li {
    text-indent: rem(-17.5px);
  }
}

.info__custom-bullet a {
  color: #fff;
  text-decoration: underline;
}

.info__custom-bullet a:hover {
  text-decoration: none;
}

.hero .info__custom-bullet {
  padding-bottom: 16%;
}

.hero .info__custom-bullet li {
  color: #fff;
  font-size: rem(18px);
  font-weight: 600;
  margin-bottom: 7%;
}

.hero .info__custom-bullet li::before {
  margin-right: 4.7%;
}

@media (max-width: 680px) {
  .hero .info__custom-bullet {
    padding-bottom: 0;
  }
}

.match-video-bullets .info__custom-bullet li::before {
  background-color: #02212f;
}

.info__coloured-bullet {
  border-top: 1px solid #d0d5d7;
  border-bottom: 1px solid #d0d5d7;
  margin-bottom: 2rem;
}

.info__coloured-bullet-list li {
  width: 25%;
  float: left;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  position: relative;
  margin-bottom: 0;
}

.info__coloured-bullet-list li::before {
  content: '';
  display: none;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #02212f;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.info__coloured-bullet-list li:nth-child(1) .info__heading::before {
  background-color: #02212f;
}

.info__coloured-bullet-list li:nth-child(2) .info__heading::before {
  background-color: #02212f;
}

.info__coloured-bullet-list li:nth-child(3) .info__heading::before {
  background-color: #02212f;
}

.info__coloured-bullet-list li button {
  width: 100%;
  text-align: center;
}

.info__coloured-bullet-list li .info__heading {
  pointer-events: none;
  position: relative;
  font-size: rem(20px);
  display: inline-block;
  margin-bottom: 0;
}

.info__coloured-bullet-list li .info__heading::before {
  content: '';
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background-color: #cf2b30;
  position: absolute;
  top: 50%;
  left: -20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 650px) {
  .info__coloured-bullet-list li .info__heading::before {
    display: none;
  }
}

@media (max-width: 1040px) {
  .info__coloured-bullet-list li .info__heading {
    font-size: rem(15px);
  }
}

@media (max-width: 680px) {
  .info__coloured-bullet-list li .info__heading {
    margin-bottom: 0;
  }

  .info__coloured-bullet-list li .info__heading .br {
    display: block;
  }
}

.info__coloured-bullet-list li.-show:before {
  display: block;
}

@media (max-width: 650px) {
  .info__coloured-bullet-list li {
    padding-left: 0;
  }
}

.info__coloured-bullet-link {
  display: block;
}

.info__image {
  text-align: center;
  position: relative;
}

.site-section--1-2 .info__image img {
  width: 88%;
  height: auto;
  margin: 0 auto;
}

@media (max-width: 680px) {
  .info__image {
    margin-bottom: 20px;
  }
}

.info__heading {
  margin-bottom: 2rem;
  max-width: 430px;
}

.site-section--1-4 .info__heading {
  margin-bottom: 1rem;
}

@media (max-width: 1400px) {
  .info__heading {
    margin-bottom: 1rem;
  }
}

@media (max-width: 680px) {
  .site-section--1-8 .info__heading {
    margin-bottom: 0.5rem;
  }
}

.info__lines-bg {
  background-repeat: no-repeat;
  background-position: 76%;
  background-size: 85%;
}

.info__lines-bg video,
.info__lines-bg img {
  border-radius: 8px;
}

.info__arrow-link {
  color: #02212f;
  font-size: rem(14px);
  font-weight: 600;
  position: relative;
  height: 23px;
}

.info__arrow-link i {
  width: 18px;
  margin-left: 18px;
}

.info__arrow-link i img {
  width: 100%;
  height: auto;
}

.info__arrow-link .info__slide {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.info__toggle-image {
  width: 80%;
  height: 291px;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.info__toggle-image--portrait .img--full {
  text-align: center;
}

.info__toggle-image--portrait .img--full img {
  width: auto;
  max-height: 470px;
  display: inline-block;
}

.info__toggle-image .info__toggle-image__split-item {
  height: 291px;
}

.info__toggle-image .info__toggle-image__split-item:first-child {
  padding-top: 30px;
  text-align: left;
}

@media (max-width: 680px) {
  .info__toggle-image .info__toggle-image__split-item:first-child {
    padding-top: 0;
    padding-bottom: 30px;
  }
}

@media (max-width: 680px) {
  .info__toggle-image .info__toggle-image__split-item {
    height: auto;
  }
}

.info__toggle-image > img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.info__toggle-image > p {
  max-width: 380px;
  width: 100%;
}

.info__toggle-image.-show {
  position: relative;
  top: auto;
  left: auto;
  -webkit-transform: none;
          transform: none;
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1040px) {
  .info__toggle-image {
    width: 100%;
  }
}

@media (max-width: 680px) {
  .info__toggle-image {
    height: auto;
  }
}

@media (max-width: 1040px) {
  .info__toggle-image {
    position: static;
    display: none;
    text-align: center;
  }

  .info__toggle-image.-show {
    display: block;
  }

  .info__toggle-image .info__toggle-image-mob > img {
    max-height: 242px;
    width: auto;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .info__toggle-image {
    padding-right: 20px;
    padding-left: 20px;
  }

  .info__toggle-image .info__toggle-image-mob > img {
    max-height: 170px;
  }
}

