.pill-switch {
  background-color: rgba(0, 0, 0, 0.2);
  width: 206px;
  height: 56px;
  display: inline-block;
  border-radius: 28px;
  position: relative;
  cursor: text;
}

.pill-switch--wide {
  width: 222px;
}

.pill-switch--has-pill {
  cursor: pointer;
}

.pill-switch__pill em,
.pill-switch__inner em {
  font-size: rem(26px);
  font-style: normal;
  position: absolute;
  top: 2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pill-switch__pill {
  width: 54.854368932%;
  height: 56px;
  background-color: #fff;
  border-radius: 28px;
  padding-top: 32px;
  font-weight: bold;
  font-size: rem(11px);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateX(0);
          transform: translateX(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.pill-switch--on .pill-switch__pill {
  -webkit-transform: translateX(93px);
          transform: translateX(93px);
}

.pricing-table__header--elite .pill-switch__pill {
  color: #16815f;
}

.pricing-table__header--ultimate .pill-switch__pill {
  color: #006a8a;
}

.pill-switch__inner {
  width: 50%;
  height: 100%;
  padding-top: 32px;
  font-weight: bold;
  font-size: rem(11px);
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.pill-switch__inner--show {
  opacity: 0.4;
  pointer-events: auto;
}

.pill-switch__inner--left {
  left: 0;
}

.pill-switch__inner--right {
  right: 0;
}

.pill-switch__inner--centre {
  font-size: rem(29px);
  font-weight: bold;
  padding-top: 5px;
  display: inline-block;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 1;
}

