.product-list__item {
  width: 31.33%;
  padding: 70px 40px;
  margin: 0 1%;
  float: left;
  background-color: #fff;
  text-align: center;
  -webkit-transition: -webkit-box-shadow .3s ease-in-out;
  transition: -webkit-box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
}

.product-list__item:hover {
  -webkit-box-shadow: 0px 19px 53px -1px rgba(0, 0, 0, 0.27);
          box-shadow: 0px 19px 53px -1px rgba(0, 0, 0, 0.27);
}

@media (max-width: 1000px) {
  .product-list__item {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    float: none;
    max-width: 550px;
  }
}

@media (max-width: 680px) {
  .product-list__item {
    padding: 40px;
  }
}

.product-list__heading {
  display: inline-block;
  position: relative;
}

.product-list__heading::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #cf2b30;
  position: absolute;
  top: 50%;
  left: -20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.product-list__item:nth-child(1) .product-list__heading::before {
  background-color: #02212f;
}

.product-list__item:nth-child(2) .product-list__heading::before {
  background-color: #02212f;
}

