.regular-dropdown {
  width: 240px;
  display: none;
  padding-top: 7px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 37px;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
  position: relative;
  top: 100%;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.site-nav__item--hover .regular-dropdown {
  display: block;
}

@media (max-width: 800px) {
  .site-nav__item--hover .regular-dropdown {
    display: none;
  }
}

@media (max-width: 1400px) {
  .regular-dropdown {
    width: 258px;
    padding-bottom: 15px;
    padding-left: 32px;
  }
}

.regular-dropdown__item {
  width: 100%;
  float: left;
}

.regular-dropdown__link {
  color: #02212f;
  display: block;
  position: relative;
  text-align: left;
  font-weight: bold;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 48px;
}

.regular-dropdown__link:hover {
  text-decoration: underline;
}

.regular-dropdown__link svg {
  width: 30px;
  height: 30px;
  fill: #a6a6a6;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

