/* Pitchero has a funky background that spans multiple sections. The scss that relates to that lives in here. */

// Set bg on before pseudo element rather than the actual background as pitch bg over all sections needs to be visible.

.bg-white,
.bg-concrete {
    &::before {
        background-color: #fff;
    }

    // Text colours follow patterns based on background so set them here
    p,
    li {
        color: $textgrey;

        > a {
            color: $blumine;
        }

        > b {
            color: $daintree;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $daintree;
    }
}

.bg-concrete {
    &::before {
        background-color: $concrete;
    }
}

.bg-blumine {
    &::before {
        background-color: $blumine;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #fff;
    }

    p {
        color: #a4bed9;

        b {
            color: #fff;
            font-weight: normal;
        }
    }
}

.bg-pacificblue {
    &::before {
        background-color: $pacificblue;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #fff;
    }
}

// Set background containers to relative so the pseudo element can create flush new bounding box
.bg-white,
.bg-concrete,
.bg-concrete,
.bg-blumine,
.bg-pacificblue, {
    position: relative;
    background-color: transparent !important;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -2;
    }

    // Some sections do not want the pitch background showing so this shoves the layer higher
    &.block-pitch-bg {
        &::before {
            z-index: 1;
        }

        // Raise site-container above background blocking pseudo element
        .site-container {
            position: relative;
            z-index: 2;
        }
    }

    // Some sections want their own pitch background, this class provides.
    &.add-pitch-bg {
        &::before {
            width: 100%;
            // background-image: url('../img/pitch-bgs/ph-pitch-football-bg--cropped.svg');
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-position: 50% -5px;

            // Specific background positioning based on parent
            .site-section--1-6 & {
                background-position: 93% 64%;
            }
        }
    }
}

// An inner body element positioned relative to allow the pitch image to span the page. The pitch
// image in an inline SVG due to a chrome bug that pixelated the image (team couldn't find a workaround)
.body__inner {
    position: relative;
}
.pitch-bg {
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
    max-height: 100%;

    svg {
        width: 100%;
        height: 100%;

        @media (max-width: 1200px) {
            width: auto;
            height: 100%;
        }
        @media (-ms-high-contrast: active), (-ms-high-contrast: none) { // IE10+ hack
            width: 1920px;
            height: 5456px;
        }
    }

    @media (max-width: 1200px) {
        left: 50%;
        transform: translateX(-50%);
    }
}
