/*doc
---
title: Buttons
name: button
category: Buttons
---

Button styles can be applied to any element. Typically you'll want to use either a `<button>` or an `<a>` element:

```html_example
<button class="btn btnDefault">Click</button>
<a class="btn btnDefault" href="http://trulia.com">Don't click</a>
```

If your button is actually a link to another page, please use the
`<a>` element, while if your button performs an action, such as submitting
a form or triggering some javascript event, then use a `<button>` element.

##Button Sizes
There are three 3 sizes for buttons: Large, medium (default)
and small. Simply apply the size modifier class for the desired size.
There is also an additional modifier that will make the button take the
full width of the container. It may be used with the any of the button
size and style modifiers.

Button                                                            | Modifier Class
----------------------------------------------------------------- | -----------------
<button class="btn btnDefault btnLrg">Large</button>              | `btn btnDefault btnLrg`
<button class="btn btnDefault">Default</button>                   | `btn btnDefault`
<button class="btn btnDefault btnSml">Small</button>              | `btn btnDefault btnSml`
<button class="btn btnDefault btnFullWidth">Full width</button>   | `btn btnDefault btnFullWidth`

*/
.btn {
    display: inline-block;
    min-width: 214px;
    text-align: center;
    padding: 23px 8px;
    background-color: #02212f;
    border-radius: 2.5px;
    font-size: rem(14px);
    line-height: rem(14px);
    color: #fff;
    font-weight: 600;
    border: 2px solid transparent;
    transition: background-color .3s ease-in-out, transform .3s ease-in-out, color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out, top 0.3s cubic-bezier(.01,.32,.11,.99);

    .signup & {
        min-width: 233px;
    }

    &.no-margin {
        margin: 0 auto !important;
    }

    &:hover {
        background-color: darken(#02212f, 5%);
        transform: translateY(-3px);

        &.drop-shadow {
            box-shadow: 0px 19px 53px -1px rgba(0, 0, 0, .27);
        }
    }

    @media (max-width: 680px) {
        .signup & {
            margin: 0 auto;
            max-width: 233px;
            display: block;
        }
    }
}

.btn--white {
    background-color: #fff;
    color: #02212f;

    &:hover {
        background-color: darken(#02212f, 5%);
        color: #fff;
    }
}

.btn--ghost {
    background-color: transparent;
    border-color: rgba(255, 255, 255, .5);

    .bg-white & {
        color: #02212f;
    }

    &:hover {
        background-color: transparent;
        border-color: darken(#02212f, 5%);
    }
}

.btn--shamrock-ghost {
    border: 1px solid #02212f;
    color: #02212f;
    min-width: 175px;

    .mega-dropdown & {
        color: #02212f;
    }

    &::after {
        display: none;
    }

    &:hover {
        background-color: #02212f;

        .mega-dropdown &,
        .mega-dropdown__content & {
            color: #fff;
        }

        &::after {
            display: none;
        }
    }

    @media (max-width: 1400px) {
        .mega-dropdown & {
            padding: 15px 22px;
            min-width: 0;
        }
    }
}

.btn--no-b {
    border-color: transparent;

    &:hover {
        border-color: transparent;
    }
}

.btn--left-al {
    text-align: left;
    padding-left: 0;

    .footer & {
        font-size: rem(16px);
        margin-top: 2.8%;

        &:hover {
            background-color: transparent;
            color: #02212f;
            transform: none;

            i {
                transform: translateX(3px);
            }
        }
    }

    @media (max-width: 1040px) {
        .footer & {
            text-align: center;
            max-width: 214px;
            margin: 0 auto;
            display: block;
        }
    }
}

.btn__play {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 12px;
    margin-left: 7px;

    img {
        position: absolute;
        top: -7px;
        width: 28px;
    }
}

/*
    Fix for <li> on header when in admin mode
 */
.logged-in{
    .hero .info__custom-bullet li,
    .pricing-table-list.pricing-table-list--pad-top li,
    .pricing-table-list li,
    .info__custom-bullet li{
        position: relative;

        .editable{
            position: static;
            display: inline;

            p{
                display: inline;
            }
        }

        .editable:not(.is-editing):before{
            text-align: right;
            width: 30px;
            display: inline-block;
        }
    }

    [data-uuid="0ab950580529bcd81d285773e7e311f1"] {
        display: block;
    }

    .testimonials__item {

        .testimonials__heading{
            .editable{
                display: inline;
            }
        }

        .btn.btn--ghost.btn--no-b.js-video-btn {
            margin-top: -10px;
        }
    }
}
