.signup {
    margin-top: -20px;
}

.signup__input {
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 0px 38px;

    &--email {
        // background-image: url('../img/icons/ph-icon-email-input.svg');
    }

    &--club-name {
        // background-image: url('../img/icons/ph-icon-club-name-input.svg');
    }

    input {
        background-color: transparent;
        width: 100%;
        height: 78px;
        padding: 14px 38px 0;
        max-width: 360px;
        border: 0;
        border-bottom: 2px solid rgba(164, 190, 217, .3);
        color: #fff;
        outline: 0;

        &:focus {
            border-bottom-color: #fff;
        }
    }

    &:nth-child(2) {
        margin-bottom: 10%;
    }
}


.simple-info-box {

    max-width: 722px;
    width: 100%;
    border: solid 1px #a4b4c4;
    border-radius: 7px;
    padding-top: 81px;
    padding-right: 14%;
    padding-bottom: 81px;
    padding-left: 14%;

    p {
        color: #02212f;
        line-height: 1.45;
        text-align: center;
        margin-bottom: 0;

        a {
            color: #02212f;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }

        ~ p {
            margin-top: 1.5em;
        }
    }
    @media (max-width: 1400px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media (max-width: 800px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}