.simple-info-box {

    max-width: 722px;
    width: 100%;
    border: solid 1px #a4b4c4;
    border-radius: 7px;
    padding-top: 81px;
    padding-right: 14%;
    padding-bottom: 81px;
    padding-left: 14%;

    p {
        color: #02212f;
        line-height: 1.45;
        text-align: center;
        margin-bottom: 0;

        a {
            color: #02212f;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }

        ~ p {
            margin-top: 1.5em;
        }
    }
    @media (max-width: 1400px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media (max-width: 800px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}