.video-container {
    width: 100%;
    position: relative;

    .video-container__video,
    .site-section--1-2 .info__image & .video-container__img,
    .site-section--1-2 .info__image & .video-container__end-img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &--include-bg {
        .video-container__video,
        .site-section--1-2 .info__image & .video-container__img {
            height: auto;
        }
        .video-container__video,
        .site-section--1-2 .info__image & .video-container__end-img {
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            z-index: 2;
        }
        .site-section--1-2 .info__image & .video-container__end-img {
            height: auto;
            opacity: 0;
            transition: opacity .75s;

            &--show {
                opacity: 1;
            }
        }
        .site-section--1-2 .info__image & .video-container__img {
            position: relative;
        }
    }
    &--home-finance {
        height: 0;
        padding-top: 51.26332046%;
    }
    &--home-save-time {
        .video-container__video {
            width: 87%;
            top: 48.1%;
            left: 51.2%;
        }
    }
    &--club-app--double-iphone {
        .video-container__video {
            width: 86.2%;
            top: 48.3%;
            left: 51.4%;
        }
    }
    &--match-video-landscape-iphone {
        .video-container__video,
        .site-section--1-2 .info__image & .video-container__end-img {
            width: 68.6%;
            top: 46.4%;
            left: 50.9%;
        }
    }
}
